[run]
branch = True
concurrency = thread,greenlet
source =
    /app/backend/app
    /app/modules/agile_digests/backend
    /app/modules/hello/backend

omit =
    */tests/*
    */migrations/*
    */__init__.py
    */scripts/wait_for_db.py

[report]
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
